body
{
	font-family: 'Orbitron', sans-serif !important;
	text-align:center;
	color:green !important;
	background-color:lightgrey !important;
}
#wrapper
{
	margin:0 auto;
	background-color:#8f8f8f;
	width:80%;
	padding:20px;
	margin-top:20px;
}
.printerImg:hover
{
	width:220px;
}
.printerImg:active
{
	width:210px;
}
.printerImg
{
	width:200px;
	float:left;
	margin-left:100px;
}
#printerImgWrapper
{
	float:left;
	width:100%;
	margin:0 auto;
}
h3
{
	position:absolute;
	bottom:0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.instructionsBox
{
	background-color:lightgrey;
	border:solid;
	width:200px;
	padding:10px;
	margin:0 auto;
}