body
{
	font-family: 'Orbitron', sans-serif;
	text-align:center;
	color:green;
}
#mainNav
{
	width:90%;
	margin:0 auto;
	margin-top:20px;
}
#mainNav a
{
	text-decoration:none;
	color:inherit;
	text-align:center;
	padding-left:30px;
}
#wrapper
{
	margin:0 auto;
	background-color:lightgreen;
	width:80%;
	padding:20px;
	margin-top:20px;
}
#wrapper h3
{

	margin-top:50px;
}